.pokemon-grid {
    width: 300px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

main {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .pokemon-grid {
        width: 20rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
      
}